.login-container {
    width: 100%;
    padding: 10px;
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
img {
    border: 0;
    max-width: 100%;
    height: auto;
}
.bodyBg .bodyBg__img {
    object-fit: cover;
    font-family: object-fit\: cover;
    object-position: 50% 50%;
    width: 100vw;
    height: 100vh;
}
.loginRegister .loginRegister__panel--form {
    padding: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}
.loginRegister .loginRegister__panel {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    width: 100%;
    max-width: 420px;
    position: relative;
}
form {
    display: block;
    margin-top: 0em;
}
.loginRegister {
    width: 100%;
    padding: 10px;
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.login_head {
    font-family: NotoSansBold,'Arial Unicode MS Regular',Arial,sans-serif;
    color: dimgrey;
}
.h2, h2 {
    font-size: 1.5em;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
    padding: 0.3em 0;
    font-weight: 700;
    color: #0090ff;
}
.loginRegister .form__group, .loginRegister .loginRegister__help, .loginRegister .loginRegister__panel--leftAligned {
    text-align: left;
}
.form .form__group--large {
    display: block;
}
.form .form__group {
    margin: 12px 0;
    position: relative;
    max-width: 800px;
}
.form .form__input--large, .form .form__textarea--large {
    height: 48px;
    padding: 10px 20px;
    line-height: 28px;
}
.form .form__input, .form .form__textarea {
    border: 1px solid silver;
    width: 100%;
    height: 38px;
    line-height: 18px;
    padding: 5px 10px;
    border-radius: 2px;
    font-family: Noto Sans,Arial,sans-serif;
    font-size: 1rem;
    color: #000;
    box-shadow: inset 0 0 5px transparent;
    transition: box-shadow .7s,border-color .7s;
    display: block;
}
.loginRegister .loginRegister__help {
    margin: 1em 0;
}
.loginRegister .loginRegister__checkboxes, .loginRegister .loginRegister__disclaimer, .loginRegister .loginRegister__help {
    font-size: .8em;
    color: gray;
}
.loginRegister .form__group, .loginRegister .loginRegister__help, .loginRegister .loginRegister__panel--leftAligned {
    text-align: left;
}
div {
    display: block;
}
.btn--secondary {
    background: #ffe600;
    color: #000;
}
.btn, .btn:after, .btn:before {
    transition: .15s;
}
.btn {
    color: #fff;
    background: #ffe600;
    border: 0;
    outline: none;
    border-radius: 2px;
    font-family: Noto Sans,Arial,sans-serif;
    font-size: 1rem;
    height: 38px;
    line-height: 28px;
    padding: 5px 20px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-decoration: none;
    border: 1px solid transparent;
}
.loginRegister .loginRegister__help {
    margin: 1em 0;
}
.loginRegister .loginRegister__checkboxes, .loginRegister .loginRegister__disclaimer, .loginRegister .loginRegister__help {
    font-size: .8em;
    color: gray;
}
.loginRegister .form__group, .loginRegister .loginRegister__help, .loginRegister .loginRegister__panel--leftAligned {
    text-align: left;
}
a {
    outline: none;
    color: #0090ff;
    transition: .15s;
    cursor: pointer;
}
.loginRegister .loginRegister__panel + .loginRegister__panel {
    margin-top: 20px;
}
.loginRegister .loginRegister__panel {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    width: 100%;
    max-width: 420px;
    position: relative;
}
p {
    padding: 0.4em 0;
}